@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Montserrat;
}
body,html{
    /* background-color: black; */
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    /* width: 410px; */
    width: 100vw;
   /* height: 703px;*/
    height: 100vh;
    background-color: black;
    /* border-radius: 20px; */
    color: #B3B3B3;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}
nav{
    /* background-color: rgb(44, 44, 44); */
    background-color: #7A1CAC;
    color: white;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
    font-size: 20px;
    font-weight: 600;
}
nav i{
    margin-right: 5px;
}
.nav-bal{
    width: 100px;
    height: 30px;
    background-color: #AD49E1;
    border-radius: 1rem;
}



.main{
    /* background-color: rgb(75, 75, 75); */
    width: 100%;
    height: 90%;
    overflow: hidden;
}
.task{
    /* padding: 10px; */
    margin: 10px;
    /* width: 390px; */
    width: 100vw;
    height: 96%;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
    background-color: rgb(31, 31, 31);
}
.task-nav{
    border-radius: 5px 5px 0 0;
    width: 100%;
    height: 45px;
    background-color: #AD49E1;
    display: flex;
}
.nav-part{
    width: 33.3333333%;
    font-weight: 600;
    /* border-radius: 5px 5px 0 0; */
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-left: 1px solid #7A1CAC;
    /* border-right: 1px solid; */
    /* background-color: #7A1CAC; */
    cursor: pointer;
    &:hover{
        background-color: #7A1CAC;
    }
}
.task-nav-1{
    border-left: none;
}
.task-body-1 {
    width: 100%;
    height: 100%; /* Ensure it maintains its original height */
    border-radius: 0 0 2px 2px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    padding: 20px;
    overflow-y: auto; /* Enable vertical scrolling */
    scroll-behavior: smooth; /* Smooth scrolling */
    -ms-overflow-style: none; /* Hide scrollbar in IE and Edge */
    scrollbar-width: none; /* Hide scrollbar in Firefox */
}

.task-body-1::-webkit-scrollbar {
    display: none; /* Hide scrollbar in Chrome, Safari, and Opera */
}

#task-body-2{
    width: 100%;
    height: 100%;
    border-radius: 0 0 2px 2px;
    display: flex;
    flex-direction: column;
    /* background-color: red; */
}
.task-body-3{
    width: 100%;
    height: 100%;
    border-radius: 0 0 2px 2px;
    /* background-color: red; */
}
/* .task-container {
    position: relative;
    width: 100%;
    min-height: 100px; 
    background-color: black;
    border-radius: 10px;
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
} */



.todo-item {
    position: relative;
    width: 100%;
    min-height: 100px; /* Use min-height instead of height to avoid shrinking */
    background-color: black;
    border-radius: 10px;
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
}
.task-details{
    display: flex;
    flex-direction: column;
}
.task-details span:first-of-type{
    /* color: #7A1CAC; */
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    padding-right: 10px;
    color: #B3B3B3;
    font-weight: 800;
    margin-left: 20px;
    height: 25px;
    overflow-y: hidden;
}
.task-details span:nth-child(2) {
    /* color: #7A1CAC; */
    font-size: 13px;
    margin-left: 20px;
    color: #2e2e2e;
}
.givePointsButton {
    width: 90px;
    background-color: #7A1CAC;
    border-radius: 10px;
    font-size: 12px;
    padding: 9px;
    margin-left: auto;
    margin-right: 20px;
    border: none;
}


.create-task-container {
    width: 50px;
    min-height: 41px;
    border-radius: 9%;
    background-color: #7A1CAC;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    border-radius: 50%;
    margin: 10px 0;
    margin-left: auto;
    margin-right: auto;
}
.deleteButton{
    color: red;
    position: absolute;
    top: 3px;
    font-size: 15px;
    right: 4px;
    background-color: black;
    border: none;
}








.popup {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    justify-content: center;
    align-items: center;
  }
  .popup-content {
    background-color: white;
    width: 100%;
    height: 50%;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 300px;
  }
  .close {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 25px;
    cursor: pointer;
  }









 /* .create-task-container .input-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
} */

.popup input#todoInput {
    /* background-color: rgb(37, 37, 37); */
    /* color: #B3B3B3; */
    outline: none;
    background-color: #FAF8FC;
    border: 1px solid #FAF8FC;
    width: 90%;
    height: 40px;
    border-radius: 8px;
    /* border: none; */
    padding: 13px;
    font-weight: 400;
    margin: 10px;
}
.popup input#pointsInput {
    /* background-color: rgb(37, 37, 37); */
    /* color: #B3B3B3; */
    outline: none;
    background-color: #FAF8FC;
    border: 1px solid #FAF8FC;
    width: 90%;
    height: 40px;
    border-radius: 8px;
    /* border: none; */
    padding: 13px;
    font-weight: 400;
    margin: 10px;
}
/*
.create-task-container .input-section input#pointsInput{
    background-color: rgb(37, 37, 37);
    color: #B3B3B3;
    outline: none;
    border: none;
}
 */
 .popup #addButton{
    background-color: #7A1CAC;
    padding: 5px;
    border-radius: 20px;
    width: 90%;
    font-size: 15px;
    font-weight: 500;
    border: none;
    color: #B3B3B3;
    height: 30px;
    margin-top: 10px;
}




/* .task-name{
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    padding-right: 10px;
    color: #B3B3B3;
    font-weight: 800;
    margin-left: 20px;
} */
/* .task-point{
    font-size: 13px;
    margin-left: 20px;
    color: #2e2e2e;
} */
/* .task-container .point-btn {
    width: 70px;
    background-color: #7A1CAC;
    border-radius: 10px;
    font-size: 10px;
    padding: 5px;
    margin-left: auto;
    margin-right: 20px;
} */
/* .delet-btn {
    color: red;
    position: absolute;
    top: 3px;
    font-size: 15px;
    right: 4px;
} */











.main2{
    background-color: yellow;
    width: 100%;
    height: 90%;
}


















.main3{
    /* background-color: red; */
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
}
.account-heading{
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid #B3B3B3;
    overflow: hidden;
    /* background-color: #7A1CAC; */
}
.acc-img {
    width: 70px;
    height: 70px;
    background-color: #7A1CAC;
    border-radius: 50%;
    margin: 10px;
}
.acc-name{
    font-size: 20px;
    font-weight: 600;
    margin-right: 10px;
}
.edit-name{
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    /* width: 100px; */
}
.acc-total{
    width: 100%;
    height: 100px;
    /* background-color: #7A1CAC; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid #B3B3B3;
    
}
.acc-total p{
    font-size: 11px;
    color: gray;
}
.account-heading i{
    cursor: pointer;
    color: #AD49E1;
}










.nav-bottom{
    color: black;
    /* width: 100%;
    height: 60px;
    position: relative;
    top: 0px;
    background: linear-gradient(45deg , #2196f3 , #e91e63);
    display: flex;
    justify-content: space-around;
    font-size: 23px;
    align-items: center; */
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: #7A1CAC;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
    padding: 10px 0;
}

.nav-item {
    text-align: center;
    flex: 1;
    padding: 10px 0;
    color: #AD49E1;
    cursor: pointer;
    transition: color 0.3s ease;
}
.nav-item i {
    font-size: 24px;
}
.active {
    color: #EBD3F8;
    position: relative;
    font-weight: 900;
}
.nav-item.active::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    width: 50%;
    height: 3px;
    background-color: #EBD3F8;
    border-radius: 5px;
    animation: slide-in 0.3s ease forwards;
}
@keyframes slide-in {
    from {
        width: 0;
    }
    to {
        width: 50%;
    }
}



















.notisfication-reloader {
    width: 100%;
    height: 5px;
    background-color: #B3B3B3; /* Color of the reloader */
    display: none; /* Initially hidden */
    position: fixed;
    top: 39.2px; /* Position just below the notification */
    transition: width 3s; /* Animate width change */
    z-index: 1000; /* Ensure it's on top */
    transform-origin: right;
}



@keyframes spin {
    0% { transform: scaleX(0); }
    100% { transform: scaleX(1); }
}

